@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes clock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

body {
    background: #5B2386;
}

:root {
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    background-image: url('/img/clock.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header h1 img {
    width: 564px;
    height: 112px;
}

.intro {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-quotes {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #F5DF4D;
}

.intro-txt {
    margin-top: 78px;
    font-size: 18px;
    line-height: 1.8em;
    text-align: center;
    background-image: url('/img/quotes.png');
    width: 493px;
    background-repeat: no-repeat;
    background-position: center top 13px;
}

.intro-txt strong {
    font-size: 24px;
    font-weight: 700;
}

.contents-input {
    margin-top: 102px;
}

.input-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.5em;
}

.input-txt input {
    margin: 0 17px;
    width: 228px;
    height: 57px;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
}

.input-txt input::placeholder {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    text-align: center;
    color: #BABCBE;
}

.input-btn {
    margin-top: 115px;
    text-align: center;
    position: relative;
}

.btn {
    background: #FCEE21;
    border-style: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    font-weight: 700;
    color: #5B2386;
    cursor: pointer;
}

.input-btn .btn {
    width: 565px;
    height: 66px;
}

.input-btn img {
    position: absolute;
    top: 20px;
    right: 30px;
}

.clock {
    margin-top: 147px;
    animation: clock 3s;
    display: none;
}

.contents-result {
    margin-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}

.result-txt strong {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2em;
}

.result-btn {
    margin-top: 127px;
}

.training {
    margin-right: 18px;
    width: 356px;
    height: 66px;
}

.share {
    background: #fff;
    width: 191px;
    height: 66px;
}

.footer {
    margin: 130px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 125px;
    height: 25px;
}

.footer small {
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}

.modal-cont {
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0 68px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.modal-txt {
    font-family: 'OTEnjoystoriesBA';
    text-align: center;
    color: #5B2386;
}

.modal-txt p {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.modal-txt p:nth-child(1) {
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
}

.modal img {
    margin: 29px 0 74px 0;
    width: 433px;
    height: 337px;
}

.modal .btn {
    width: 500px;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}