@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

body {
    background: #5B2386;
}

:root {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    background-image: url('/img/clock.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header h1 img {
    width: 564px;
    height: 112px;
}

.intro {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-quotes {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #F5DF4D;
}

.intro-txt {
    margin-top: 78px;
    font-size: 18px;
    line-height: 1.8em;
    text-align: center;
    background-image: url('/img/quotes.png');
    width: 493px;
    background-repeat: no-repeat;
    background-position: center top 13px;
}

.intro-txt strong {
    font-size: 24px;
    font-weight: 700;
}